* { box-sizing: border-box; }

body { margin: 0; }

.container { padding-left: 10vw; padding-right: 10vw; margin-right: auto; margin-left: auto; }

i::before { font-family: 'FontAwesome'; }

.services { background-color: #f3a100; color: #fff; padding: 16px 0; margin-top: 16px; }

.services .services-title { display: flex; flex-direction: column; gap: 16px; justify-content: space-between; align-items: center; margin-bottom: 16px; }

@media (min-width: 769px) { .services .services-title { flex-direction: row; gap: 32px; } }

.services .services-title h2 { flex: fit-content 0 0; font-size: 1.5rem; padding-bottom: 1rem; border-bottom: 1px solid #fff; margin: 0; }

.services .services-title p { flex: 1px 1 1; font-size: 1rem; margin: 0; }

.services .services-cards { display: flex; flex-direction: column; justify-content: space-between; gap: 20px; }

@media (min-width: 769px) { .services .services-cards { flex-direction: row; } }

.services .services-cards a { flex: 1 1 30%; position: relative; display: flex; flex-direction: column; text-decoration: none; transition: .5s ease; top: 0px; }

.services .services-cards a:hover { top: -8px; }

.services .services-cards a img { width: 100%; flex: none; height: 156px; object-fit: cover; aspect-ratio: auto; }

.services .services-cards a .service-description { flex: 2 0 2px; min-width: 0px; color: #0f1626; background-color: #fff; padding: 12px; text-align: center; }

.services .services-cards a .service-description h3 { margin: 32px 0 0 0; text-transform: uppercase; }

.services .services-cards a .service-icon { background-color: #0f1626; position: absolute; top: 120px; align-self: center; border-radius: 50%; width: 4rem; height: 4rem; }

.services .services-cards a .service-icon::before { display: block; position: absolute; color: #fff; font-size: 2rem; left: 50%; top: 50%; translate: -50% -50%; }

.partners { padding: 16px 0; margin-top: 16px; }

.partners h2 { display: inline-block; font-size: 1.5rem; padding-bottom: 1rem; border-bottom: 1px solid #0f1626; margin: 0 0 16px; }

.partners #partners-row { overflow-x: hidden; }

.partners #partners-row .slick-prev, .partners #partners-row .slick-next { position: absolute; }

.partners #partners-row .slick-prev { left: calc(-16px + 10vw); }

.partners #partners-row .slick-next { right: calc(-16px + 10vw); }

.partners #partners-row .partner-img { height: 100px; object-fit: contain; width: auto; filter: grayscale(100%); }

.partners #partners-row .partner-img:hover { filter: none; }
