
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    padding-left: 10vw;
    padding-right: 10vw;

    margin-right: auto;
    margin-left: auto;
    // maybe fixed sizes with media queries?

}

i::before {
    font-family: 'FontAwesome';
}