
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    padding-left: 10vw;
    padding-right: 10vw;

    margin-right: auto;
    margin-left: auto;
    // maybe fixed sizes with media queries?

}

.main-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  width: 100%;
  box-sizing: border-box;
}

i::before {
    font-family: 'FontAwesome';
}


h2 {
    font-size: 1.7em;
    width: fit-content;
}
h2::after {
    margin: 5px 0;
    width: 100%;
    height: 1px;
    content: "";
    display: block;
    position: relative;
    bottom: 100%;
    background: $color-secondary;
}
