#contact-form {
    background: $color-primary;
    padding: 20px;
    h1 {
        text-align: center;
        text-decoration: underline;
        margin: 10px 0 50px;
    }
    form {
        background: rgba(0,0,0,0.4);
        color: white;
        font-size: 1.2rem;

        display: flex;
        flex-wrap: wrap;
        margin: 10px auto;

        width: 90%;
        max-width: 800px;
        gap: 10px;

        padding: 10px;
        border-radius: 8px;

        div {
            display: flex;
            flex-direction: column;
        }
        div.narrow {
            width: 100%;
            @media (min-width: $breakpoint-xs) {
                width: calc((100% - 10px)/2);
            }
        }
        div.wide {
            width: 100%
        }
        textarea, input {
            font-size: 1rem;
            resize: none;
        }
        textarea {
            height: 100px;
        }
        button {
            position: relative;
            overflow: hidden;
            margin: 5px auto;
            padding: 5px 15px;
            border-radius: 3px;
            font-size: 1.2rem;
            background: $color-secondary;
            color: $color-background;
            border: none;
            cursor: pointer;
        }
    }
}

#form-error,
#form-success {
    padding: 5px;
    position: relative;
    width: 90%;
    max-width: 800px;
    border: 1px solid black;
    border-radius: 8px;
    margin: auto;
    button {
        padding: 0;
        height: fit-content;
        width: fit-content;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
        background: transparent;
        border: none;
    }
}

#form-error {
    background: rgb(255, 150, 150);
}

#form-success {
    background: rgb(150, 255, 150);
}