#testimonials {
    color: $color-secondary;

    blockquote {
        font-size: 1.1em;
        margin: 50px 0 10px;
        position: relative;
        &::before {
            top: -35px;
            left: 0;
            content: "\201C";
        }
        &::after {
            bottom: -35px;
            right: 0;
            content: "\201D";
        }
        &::before,
        &::after {
            height: fit-content;
            position: absolute;
            font-size: 50px;
            font-weight: bold;
        }
    }

    cite {
        font-size: 1.2em;
        font-style: normal;
        span {
            font-weight: bold;
        }
    }
}